@mixin clearfix() {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin section-background-image($image) {
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba($black, .5), rgba($black, .5)),
										linear-gradient(rgba($green-darken, .25), rgba($black, .25)),
										url($image);
}
