.text {

	&-center {
		text-align: center;
	}

	&-green {
		color: $green-primary;
	}
}

.spacer {
	height: 3rem;

	&-x2 {
		height: 6rem;
	}

	&-x3 {
		height: 9rem;
	}
}

.hidden {
	display: none;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.clearfix {
	@include clearfix();
}
