.text {

	&-center {
		text-align: center;
	}

	&-green {
		color: $green-primary;
	}
}

.spacer {
	height: 3em;
}

.hidden {
	display: none;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
