/**
 * Grid
 */
$container-width: 1200px;
$gutter: 15px;

/**
 * Colors
 */
$green-primary: #7fa711;
$green-darken: #98b741;
$black: #000000;
$white: #f1f1f1;

$section-white: $white;
$section-green-light: #e6eadb;
