@import 'vendors/normalize',
				'vendors/sass-mq',
				'susy',
				'variables',
				'mixins',
				'fonts',
				'grid',
				'utility',
				'elements/general',
				'elements/sections',
				'elements/navbar';

html {
	font-size: 16px;
	box-sizing: border-box;

	&, body {
	  -webkit-font-smoothing: subpixel-antialiased;
	  -webkit-appearance: none;
	}
}

body {
	font-family: 'Raleway';
}

*, *:before, *:after {
  box-sizing: inherit;
}
