@mixin clearfix() {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin section-background-image($image, $opacity: .25) {
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba($black, .5), rgba($black, .5)),
										linear-gradient(rgba($green-darken, $opacity), rgba($black, $opacity)),
										url($image);
}

@mixin hexagon() {
	width: 75%;
	display: inline-block;
	clip-path: polygon(30% 0%, 70% 0%, 90% 50%, 70% 100%, 30% 100%, 10% 50%);
}
