.section {
	background-color: $section-white;

	&-full {
		min-height: 100vh;
	}
}

#section-1 {
	@include section-background-image('/img/section-1-bg.jpg');
}

.section-decorator {
	&-top:before,
	&-bottom:after {
		content: '';
		display: block;
		height: 120px;
		width: 30px;
		margin: 0 auto;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&-top:before {
		background-image: url('/img/section-decorator.png');
	}

	&-bottom:after {
		background-image: url('/img/section-decorator.png');
		transform: rotate(180deg);
		opacity: .5;
	}
}

// .section-decorator {
// 	&-top,
// 	&-bottom {
// 		margin: 0 auto;
// 		position: relative;
//
// 		&:before {
// 			content: '';
// 			display: block;
// 			height: 90px;
// 			width: 3px;
// 			margin: 0 auto;
// 		}
//
// 		&:after {
// 			content: '';
// 			width: 30px;
// 			height: 30px;
// 			position: absolute;
// 			left: 50%;
// 			transform: translate(-50%, 100%);
// 			background-image: url('/img/hexagon.png');
// 			background-size: contain;
// 			background-repeat: no-repeat;
// 		}
// 	}
//
// 	&-top {
// 		margin-bottom: 50px;
//
// 		&:before {
// 			background-color: $green-primary;
// 		}
//
// 		&:after {
// 			bottom: 0;
// 		}
// 	}
//
// 	&-bottom {
// 		margin-top: 50px;
//
// 		&:before {
// 			background-color: rgba($green-primary, .5);
// 		}
//
// 		&:after {
// 			top: 0;
// 		}
// 	}
// }
