.section {
	background-color: $section-white;
	position: relative;

	&-full {
		min-height: 100vh;
	}
}

.section-decorator {
	&-bottom {
		padding-bottom: calc(126px + 2em);
	}

	text-align: center;

	&:first-of-type {
		margin-bottom: 2em;
	}

	&:last-of-type {
		position: absolute;
		bottom: 0;
		width: 100%;
		transform: rotate(180deg);
	}
}

#section {
	&-1 {
		@include section-background-image('/img/section-1-bg.jpg');
	}
	&-3 {
		@include section-background-image('/img/section-3-bg.jpg', .75);
	}
}
