.btn {
	display: inline-block;
	padding: 1em 2em;
	margin-left: 5px;
	margin-right: 5px;
	color: $green-primary;
	background-color: transparent;
	border: 1px solid $green-primary;
	border-radius: 3px;

	&, &:hover {
		transition: background-color .3s ease;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: rgba($green-primary, .25);
	}
}
