svg {
	fill: currentColor;
	stroke: $black;
}

svg {
	&#icon {
		&-section-decorator {
			width: 33px;
			height: 126px;
			fill: none;
			stroke: $green-primary;
			stroke-dasharray: 75;
			stroke-dashoffset: 75;
		}

		&-section-decorator-horizontal {
			width: 160px;
			height: 30px;
			fill: none;
			stroke: $green-primary;
			stroke-dasharray: 75;
			stroke-dashoffset: 75;
		}

		&-hexagon {
			width: 150px;
			height: 170px;
			stroke: $green-primary;
			stroke-dasharray: 120;
			stroke-dashoffset: 120;
		}
	}

	&.svg-load {
		animation: svg-load 1.5s linear forwards;
	}

	&.icon-rotated {

		&-30 {
			transform: rotate(30deg);
		}

		&-60 {
			transform: rotate(60deg);
		}
	}
}

@keyframes svg-load {
  to {
    stroke-dashoffset: 0;
  }
}

// @see: https://css-tricks.com/forums/topic/responsive-hexagon-clipmask-with-image/
// .polygon-clip-hexagon {
//   clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
// }
